html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
	/*background: #000000 url('/home/andrew/Downloads/blackboop.jpg') no-repeat bottom left;*/
	background: #000000 url('../img/table.png') no-repeat bottom left;
	/*background: #000000 url('/home/andrew/Downloads/Axial-M3-Black-Right.jpg') no-repeat bottom left;*/
	background-size: 100% 100%;
	width: 100%;
	/*height: 100%;*/
	height: auto !important;
	min-height:100%;
}


.info-bar {
	position: fixed;
	height: 6%;
	width: 100%;
	background-color: black;
	text-align: center;
	display: inline-flex;
	}

.top-info {
	border-bottom: 8px groove rgb(182, 87, 87);
	top: 0;
	font-size: 100%;
}

.bottom-info {
	bottom: 0;
	border-top: 8px groove rgb(182, 87, 87);
}

.hand-info{
	position: relative;
	min-width: 20%;
	color: cornflowerblue;
	display: inline-flex;
	left: 3%;
	top: 3%;
	font-size: 115%;
}

.player-monies {
	position: relative;
	width: 24%;
	color: cornflowerblue;
	display: inline-flex;
	left: 6%;
	top: 3%;
	font-size: 115%;
}


.tabletop {
	position: fixed;
	top: 6%;
	width: 100%;
	height: 89%;
}
 .game-msg {
	position: relative;
	width: 24%;
	color: cornflowerblue;
	display: inline;
	left: 3%;
	top: 3%;
	font-size: 100%;
}

.banner {
	margin: 0;
	position: relative;	
	color: cornflowerblue;
	display: inline-flex;
	text-align: center;
	top: 70%;
	width: 40%;
	left: 19%;
   	margin-right: -50%;
	transform: translate(0, -50%);
	font-size: 120%;
}

.buttons {
	display: inline-flex;
	position: absolute;
	bottom: 37px;
	margin: auto;
	width: 90%;
}

.clears {
	clear: both;
}

.btn {
	min-height: 100px;
	max-height: 100px;
	min-width: 100px;
	max-width: 100px;
	margin: 5px;
	margin-left: 10px;
	padding: 5px;
	left: 25%;
	position: relative;
	border-radius: 50%;
	text-align: center;
	
	/*box-shadow: 6px 6px 5px black;*/


}

.cards-holder {
	min-width: 99%;
	min-height: 691px;

}

.cards {
	max-width: 72px;
	max-height: 90px;
	width: 72px;
	height: 90px;
	padding-right: 2px;
	padding-left: 2px;
}

#cardback {
	min-width: 72px;
	max-width: 72px;
	min-height: 110%;
	max-height: 90px;
	border-radius: 8%;
	padding-right: 2px;
	padding-left: 2px;
}

.dealer-hand {
	display: inline-flex;
	left: 60%;
	top: 285px;
	position: relative;
}

.player-hand {
	display: inline-flex;
	left: 39%;
	top: 399px;
	position: relative;
}

.btn-img {	
	max-width: 145px;
  	max-height: 171px;
 	position: relative;
  	left: -14px;
  	top: -4px;
}
